.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  border-radius: 10px !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.7);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.7);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.7);
}

.title {
  font-family: "San Francisco Light";
  src: url("../../fonts/san-francisco-light.otf");
  color: rgb(205, 205, 207);
}

.image {
  width: 100px;
  height: 100px;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }

  .image {
    width: 50px;
    height: 50px;
  }
}
